@use '@/Variables' as *;


.react-select-container {
    width: 100%;
    padding: 0.25rem;
    border: 2px solid $blue-dark;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    background-color: $white;
    background-size: 1rem;
    transition: border-color 0.2s, box-shadow 0.2s, background-color 0.2s;

    .react-select__group {
        padding: 0;
        margin: 0;
    }

    .react-select__group-heading {
        font-weight: bold !important;
        background-color: $smworks-color !important;
        color: $white !important;
        padding: 0.75rem 1rem !important;
        margin: 0;
        font-size: 0.875rem;
    }

    .react-select__option {
        background-color: transparent !important;
        color: $blue-dark !important;
        font-size: 1rem;
        padding: 0.5rem 0.5rem 0.5rem 1.5rem;

        &:hover {
            background-color: rgba($smworks-color, 0.5) !important;
            color: $white !important;
        }

        &--is-focused {
            background-color: rgba($smworks-color, 0.5) !important;
            color: $white !important;
        }

        &--is-selected {
            background-color: rgba($smworks-color, 0.5) !important;
            color: $white !important;
        }
    }

    span {
        display: none;
    }

    @media (max-width: 1075px) {
        width: 100%;
    }

    .react-select__input {
        box-shadow: none !important;
    }

    svg {
        width: 1.25rem;
        height: 1.25rem;
        color: $blue-dark;
    }

    &:hover {
        border-color: $blue-dark;
        box-shadow: 0 0 0.5rem rgba($smworks-color, 0.5);
        color: $white;
    }

    &:focus-within {
        border-color: $smworks-color;
        outline: none;
        box-shadow: 0 0 0.25rem rgba($smworks-color, 0.5);
    }

    .react-select__control {
        border: none;
        box-shadow: none;
        background-color: $white;
        min-height: 2.5rem;
    }

    .react-select__menu {
        border-radius: 0.5rem;
        overflow: hidden;
        box-shadow: $shadow-dropdown;
        background-color: $white;
        border: 2px solid $blue-dark;
        height: fit-content;

        margin-top: 0.25rem;
        margin-left: -0.4rem;
        width: 102%;
    }

    .react-select__menu-list {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .react-select__single-value {
        color: $blue-dark;
        font-weight: 500;

        div {
            padding: 0;
        }
    }

    .react-select__indicator {
        color: $blue-dark;

        &:hover {
            color: darken($blue-dark, 10%);
        }
    }

    .react-select__dropdown-indicator {
        svg {
            transition: transform 0.2s;
        }

        &--menu-is-open {
            svg {
                transform: rotate(180deg);
            }
        }
    }
}

.react-select-container.react-select--is-disabled {
    background-color: $white;
    border-color: $grey-light;
    color: $off-white;
    cursor: not-allowed;
    opacity: 0.75;

    svg {
        color: $grey-light;
    }

    .react-select__indicator {
        color: $grey-light;
    }
}

.react-select-container.small {
    min-width: 12.5rem;
    font-size: 0.875rem;
    color: $blue-dark;
    height: 2.5rem;

    .react-select__menu {
        margin-top: 0.25rem;
        margin-left: 0;
        width: 100%;
        box-shadow: $shadow-dropdown;
    }

    .react-select__control {
        min-height: 2.5rem;
        padding-bottom: 0.65rem;
        height: 2.5rem;
        color: $blue-dark;
        background-color: transparent;
        display: flex;
        align-items: center;
        font-size: 0.875rem;
        line-height: 0.875rem;

        .react-select__value-container {
            padding: 0 0.5rem;
            font-size: 0.875rem;
            height: 100%;
            display: flex;
            color: $blue-dark;
            align-items: center;
            line-height: 0.875rem;

        }

        .react-select__single-value,
        .react-select__placeholder {
            font-size: 0.875rem;
            line-height: 0.875rem;
            color: $blue-dark;
            overflow: visible !important;
        }

        .react-select__indicators {
            display: flex;
            align-items: center;
            height: 100%;
        }

        .react-select__indicator {
            svg {
                width: 1rem;
                height: 1rem;
            }
        }
    }

    .react-select__menu {
        font-size: 0.875rem;
        margin-left: -0.4rem;
        width: 102%;
    }
}
