$smworks-color: #EB6608;
$action-red: #E65100;
$action-grey: #757575;
$action-green: #2E7D32;
$action-yellow: #FFA726;
$blue-dark: #1E1F23;
$white: #ffffff;
$off-white: #F4F4F4;
$grey: #4B4C4F;
$grey-light: #CDCDCD;
$shadow-dropdown: 0px 1px 6px 0px rgba(0, 0, 0, 0.2);
$default-transition: all 0.3s;
$font-primary: 'Inter', sans-serif;
