@use '@/Variables' as *;

.layoutContainer {
    display: flex;
    flex-direction: row;
    gap: 1.875rem;
    justify-content: space-between;
    flex: 1;
    margin-bottom: 1rem;

    @media (max-width: 1075px) {
        display: block;
    }

    .contentContainer {
        margin-top: 1.875rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1.875rem;
        margin-right: 1.875rem;

        @media (max-width: 1075px) {
            margin: 0.5rem 0 6rem;
        }

        .content {
            background-color: $white;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
            color: $blue-dark;
            border-radius: 0.5rem;
            box-shadow: $shadow-dropdown;

            @media (max-width: 1075px) {
                width: 90vw;
                box-shadow: none;
                padding: 0;
                margin: 0 auto;
                background-color: $off-white;
            }

            div.reportInfo {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                width: 100%;
                max-width: 47rem;
                gap: 1rem;

                .CreatedAt {
                    display: flex;
                    gap: 0.25rem;
                    align-items: center;
                    justify-content: start;
                    font-size: 0.875rem;
                    color: $blue-dark;
                    font-weight: 500;

                    span {
                        font-weight: bold;
                        color: $smworks-color;
                    }
                }

                .Author {
                    display: flex;
                    gap: 0.5rem;
                    align-items: center;
                    justify-content: start;
                    font-size: 1.5rem;
                    color: $blue-dark;
                    font-weight: bold;

                    span {
                        font-weight: bold;
                        color: $smworks-color;
                    }
                }
            }

            h2 {
                font-size: 1.5rem;
                font-weight: bold;
                color: $blue-dark;
                text-align: start;
                margin: 0;
                width: 100%;
                max-width: 47rem;
            }

            form {
                gap: 1.5rem;
                max-width: 47rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .buttonContainer {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    gap: 0.5rem;
                    width: 100%;
                    margin-top: -0.5rem;

                    button {
                        background-color: $smworks-color;
                        color: $white;
                        font-size: 1rem;
                        font-weight: bold;
                        padding: 0.75rem 1.5rem;
                        border: none;
                        border-radius: 0.5rem;
                        cursor: pointer;
                        width: 100%;
                        transition: background-color 0.3s;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 0.5rem;
                        margin-top: 0.5rem;

                        &:hover {
                            background-color: darken($smworks-color, 10%);
                        }

                        &:disabled {
                            background-color: $grey-light;
                            cursor: not-allowed;
                        }

                        &.saveAndNext {
                            background-color: $blue-dark;
                        }
                    }
                }
            }
        }
    }
}

.datepickerContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.25rem;
    position: relative;
    justify-content: center;

    .react-datepicker__tab-loop {
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
    }

    input {
        border: 2px solid $blue-dark !important;
        padding: 0.75rem !important;
        border-radius: 0.5rem;
        font-size: 1rem !important;
        color: $blue-dark;
        transition: $default-transition;
        width: 100% !important;
        font-weight: 500 !important;
        max-height: unset !important;

        &:focus {
            outline: none;
            border-color: $smworks-color;
            box-shadow: 0 0 0.25rem rgba(235, 102, 8, 0.5);
        }
    }

    label {
        font-weight: bold;
        font-size: 0.875rem;
        color: $blue-dark;
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

}

.lengthInput {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    position: relative;

    label {
        font-weight: bold;
        font-size: 0.875rem;
        color: $blue-dark;
        display: flex;
        gap: 0.5rem;
        align-items: center;

    }

    input {
        border: 2px solid $blue-dark !important;
        padding: 0.75rem !important;
        border-radius: 0.5rem;
        font-size: 1rem !important;
        color: $blue-dark;
        transition: $default-transition;
        width: 100% !important;
        font-weight: 500 !important;
        max-height: unset !important;

        &:focus {
            outline: none;
            border-color: $smworks-color;
            box-shadow: 0 0 0.25rem rgba(235, 102, 8, 0.5);
        }

        margin-bottom: 0.5rem;
    }

    ul {
        list-style: none;

        li {
            list-style: none;
        }
    }

    .dropdown {
        margin-top: 0;
        overflow: hidden;
        background-color: transparent;
        border: none;
        border-radius: 0.5rem;
        display: flex;
        gap: 0.75rem;
        justify-content: flex-start;
        flex-wrap: wrap;
        transition: $default-transition;
        padding: 0;

        &.collapsed {
            height: 0;
            opacity: 0;
            overflow: hidden;
        }

        &.expanded {
            height: 100%;
            opacity: 1;
        }

        .dropdownItem {
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            cursor: pointer;
            width: 4rem;
            border: 2px solid $smworks-color;
            background-color: transparent;
            color: $smworks-color;
            font-weight: bold;
            font-size: 0.9rem;
            text-align: center;
            transition: background-color 0.3s ease, transform 0.2s ease;

            &:hover {
                background-color: $smworks-color;
                color: white;
            }

            &:active {
                background-color: #0056b3;
            }
        }
    }


}

.checkboxContainer {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    label {
        font-size: 0.875rem;
        font-weight: 500;
        color: $blue-dark;
    }

    margin-top: -0.5rem;
    margin-bottom: 1rem;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    color: $blue-dark;
    font-weight: 500;

    input {
        width: 1.25rem;
        height: 1.25rem;
        cursor: pointer;
    }
}
