@use '@/Variables' as *;

.layoutContainer {
    display: flex;
    flex-direction: row;
    gap: 1.875rem;
    justify-content: space-between;
    flex: 1;
    margin-bottom: 1rem;

    @media (max-width: 1075px) {
        height: 100%;
        display: block;
    }

    .contentContainer {
        margin-top: 1.875rem;
        flex: 1;
        margin-right: 1.875rem;
        gap: 1.875rem;
        display: flex;
        flex-direction: column;

        @media (max-width: 1075px) {
            margin-right: 0;
            margin-top: 0.5rem;
            background-color: $off-white;
            margin-bottom: 8rem;
        }

        .content {
            background-color: $off-white;
            height: 100%;
            border-radius: 0.5rem;
            padding: 1.5rem;
            box-shadow: $shadow-dropdown;
            display: flex;
            flex-direction: column;
            gap: 0;
            justify-content: center;
            align-items: center;

            @media (max-width: 1075px) {
                box-shadow: none;
                border: none;
                width: 100%;
                padding: 0;
                overflow: hidden;
            }

            .table {
                @media (max-width: 1075px) {
                    display: none;
                }
            }

            .responsiveContent {
                display: none;

                @media (max-width: 1075px) {
                    display: block;
                    width: 100%;

                    .mobileFilters {
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                        max-width: 90vw;
                        margin: 0 auto;
                        gap: 1rem;
                        margin-bottom: 1.5rem;

                        div.sortBy {
                            margin-right: 0;
                        }

                        .react-select-container.small {
                            font-size: 0.875rem;
                            height: 3rem;
                        }

                        .buttonContainer {
                            display: flex;
                            gap: 1rem;
                            align-items: center;
                            justify-content: space-between;
                        }

                        .sortContainer {
                            display: flex;
                            gap: 0.5rem;
                            align-items: end;
                            justify-content: space-between;

                            div.sortBy {
                                width: 100%;
                            }

                            button.sortOrderButton {
                                width: 2.75rem;
                                height: 2.5rem;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }

                            .pageSizeSelector {
                                position: relative;

                                .pageSizeSelect {
                                    display: flex;
                                    align-items: center;
                                    gap: 0.25rem;
                                    height: 2.5rem;
                                    width: 3.875rem;
                                    font-size: 0.875rem;
                                    padding: 0 1rem;
                                    border: 2px solid $blue-dark;
                                    font-weight: 500;
                                    appearance: none;
                                    -webkit-appearance: none;
                                    -moz-appearance: none;

                                    option {
                                        font-size: 0.875rem;
                                        padding: 0;
                                    }
                                }

                                .selectIcon {
                                    position: absolute;
                                    pointer-events: none;
                                    right: 0.75rem;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    font-size: 0.75rem;
                                    color: $grey-light;
                                }
                            }

                        }

                        .divider {
                            width: 100%;
                            height: 1px;
                            background-color: $grey-light;
                        }

                        .newUserButton {
                            height: 2.5rem;
                            background-color: $smworks-color;
                            color: $white;
                            font-size: 0.875rem;
                            border: none;
                            border-radius: 0.5rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-weight: bold;
                            gap: 0.5rem;
                            cursor: pointer;
                            text-wrap: nowrap;
                            transition: 0.3s;
                            padding: 0.75rem;
                            width: 100%;

                            &:hover {
                                background-color: darken($smworks-color, 10%);
                            }

                            svg {
                                font-size: 0.875rem;
                                height: 0.875rem;
                            }
                        }

                        .react-select-container.small {
                            font-size: 0.875rem;
                            height: 3rem;
                        }

                        .checkboxLabel {
                            margin-top: 0.25rem;

                            font-size: 0.875rem;
                            font-weight: 500;
                            color: $blue-dark;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 0.25rem;
                        }


                        .resetButton {
                            background-color: $white;
                            border-radius: 0.5rem;
                            height: 2.5rem;
                            display: flex;
                            gap: 0.5rem;
                            justify-content: center;
                            align-items: center;
                            font-size: 0.875rem;
                            font-weight: bold;
                            color: $blue-dark;
                            border: 2px solid $blue-dark;
                            width: 100%;
                            max-width: 2.75rem;
                            transition: $default-transition;

                            &:hover {
                                background-color: $off-white;
                                @media (max-width: 768px) {
                                    background-color: none;
                                }
                            }
                        }

                        .checkboxContainer {
                            display: flex;
                            gap: 0.5rem;
                            justify-content: space-between;
                            min-height: 40px;

                            .resetButton {
                                background-color: $smworks-color;
                                color: $white;
                                border: none;
                                max-width: 8rem;
                                font-weight: 500;
                            }
                        }

                        .sortBy {
                            flex: 1;
                            margin-right: 0.5rem;
                        }

                        .sortOrderButton {
                            background-color: $smworks-color;
                            color: $white;
                            border-radius: 0.5rem;
                            padding: 0.5rem 1rem;
                            font-size: 0.875rem;
                            font-weight: bold;
                            border: none;
                        }
                    }
                }
            }

            .filters {
                margin-top: 0.75rem;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 1rem;
                margin-bottom: 0.5rem;
                justify-content: space-between;
                width: 100%;

                @media (max-width: 1075px) {
                    display: none;
                }

                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: $grey-light;
                    margin-top: -0.25rem;
                }

                .contentLeft {
                    display: flex;
                    gap: 1.5rem;
                    align-items: center;
                    height: 3rem;

                    .newUserButton {
                        height: 2.5rem;
                        background-color: $smworks-color;
                        color: $white;
                        font-size: 0.875rem;
                        border: none;
                        border-radius: 0.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: bold;
                        gap: 0.5rem;
                        cursor: pointer;
                        text-wrap: nowrap;
                        transition: 0.3s;
                        padding: 0.75rem;


                        &:hover {
                            background-color: darken($smworks-color, 10%);
                        }

                        svg {
                            font-size: 0.875rem;
                            height: 0.875rem;
                        }
                    }

                    .react-select-container.small {
                        font-size: 0.875rem;
                        height: 2.5rem;
                    }

                    .checkboxLabel {
                        margin-top: 0.25rem;
                        font-size: 0.875rem;
                        font-weight: 500;
                        color: $blue-dark;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 0.25rem;
                    }
                }

                .contentRight {
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    height: fit-content;

                    .resetButton {
                        background-color: $white;
                        border-radius: 0.5rem;
                        height: 2.5rem;
                        display: flex;
                        gap: 0.5rem;
                        justify-content: center;
                        align-items: center;
                        font-size: 0.875rem;
                        font-weight: bold;
                        color: $blue-dark;
                        border: 2px solid $blue-dark;
                        width: 100%;
                        max-width: 5.25rem;
                        transition: $default-transition;

                        &:hover {
                            background-color: $off-white;
                            @media (max-width: 768px) {
                                background-color: none;
                            }
                        }
                    }
                }
            }

            table {
                width: 100%;
                border-collapse: separate;
                border-spacing: 0 0.5rem;
                background-color: $off-white;
                border: none;
                margin-bottom: 1rem;

                thead {
                    tr {
                        &:has(th.isSticky) {
                            th {
                                box-shadow: $smworks-color 0 0 0.25rem;
                                background-color: $white;
                                z-index: 10;
                            }
                        }

                        th {
                            position: sticky;
                            top: 0;
                            left: 0;
                            padding: 0.75rem 1rem;
                            font-size: 0.875rem;
                            font-weight: 500;
                            color: $blue-dark;
                            text-align: left;
                            background-color: $white;

                            border-top: 2px solid $grey-light;
                            border-bottom: 2px solid $grey-light;
                            box-shadow: inset 1px 0 0 $grey-light, inset -1px 0 0 $grey-light;
                            transition: $default-transition;

                            &:empty {
                                border: none;
                            }

                            &.smallColumn {
                                width: 10%;
                            }

                            &:hover {
                                cursor: pointer;
                                background-color: $off-white;
                            }

                            &.actionColumn {
                                width: 6.626rem;
                                text-align: center;

                                .headerContent {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                            }

                            &:first-child {
                                border-left: 2px solid $grey-light;
                                border-top-left-radius: 0.5rem;
                                box-shadow: inset -0.5px 0 0 $grey-light;
                            }

                            &:last-child {
                                border-right: 2px solid $grey-light;
                                border-top-right-radius: 0.5rem;
                                box-shadow: inset 0.5px 0 0 $grey-light;
                            }

                            // Hlavní obsah hlavičky
                            .headerContent {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                .headerTitle {
                                    display: flex;
                                    align-items: center;
                                    gap: 0.5rem;

                                    svg {
                                        font-size: 0.875rem;
                                        color: $blue-dark;
                                    }
                                }

                                // Ikona řazení v šedé barvě
                                .iconGrey {
                                    color: $grey-light;
                                }
                            }

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }

                tbody {
                    font-weight: 500;

                    tr {
                        background-color: $white;
                        box-shadow: $shadow-dropdown;
                        border-radius: 0.5rem;
                        overflow: hidden;
                        transition: $default-transition;

                        &:hover {
                            td {
                                background-color: $off-white;
                            }
                        }

                        &:not(:last-child) {
                            margin-bottom: 0.5rem;
                        }

                        td {
                            font-weight: 500;
                            font-size: 0.875rem;
                            color: $blue-dark;
                            text-align: left;
                            background-color: $white;
                            border-top: 1px solid $grey-light;
                            border-bottom: 1px solid $grey-light;
                            box-shadow: inset 0.5px 0 0 $grey-light, inset -0.5px 0 0 $grey-light;
                            padding-left: 0.75rem;
                            transition: $default-transition;

                            &.smallColumn {
                                width: 10%;
                            }

                            &:has(.actionContainer) {
                                padding: 0;

                                .actionContainer {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 0;

                                    .actionButton {
                                        background-color: $white;
                                        border: none;
                                        width: 3.313rem;
                                        height: 3rem;
                                        padding: 0;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        font-size: 0.875rem;
                                        color: $blue-dark;
                                        transition: background-color 0.2s;

                                        svg {
                                            font-size: 1rem !important;
                                        }

                                        &:hover {
                                            background-color: $smworks-color;
                                            color: $white;

                                            svg {
                                                color: $white;
                                            }
                                        }

                                        &.editButton {
                                            background-color: transparent;
                                            color: $action-yellow;
                                            border: 1px solid $action-yellow;
                                            border-radius: 0;

                                            &:hover {
                                                background-color: $action-yellow;
                                                color: #fff;
                                                border-color: $action-yellow;
                                                box-shadow: 0 2px 4px rgba(251, 192, 45, 0.4);
                                            }

                                            svg {
                                                transition: color 0.3s ease;
                                                color: inherit;
                                            }
                                        }

                                        &.deleteButton {
                                            background-color: transparent;
                                            color: $action-red;
                                            border: 1px solid $action-red;
                                            border-radius: 0;

                                            &:hover {
                                                background-color: $action-red;
                                                color: #fff;
                                                border-color: $action-red;
                                                box-shadow: 0 2px 4px rgba(230, 81, 0, 0.4);
                                            }

                                            svg {
                                                transition: color 0.3s ease;
                                                color: inherit;
                                            }
                                        }

                                        &:last-child {
                                            border-top-right-radius: 0.5rem;
                                            border-bottom-right-radius: 0.5rem;
                                        }
                                    }
                                }
                            }

                            &:first-child {
                                border-left: 1px solid $grey-light;
                                border-top-left-radius: 0.5rem;
                                border-bottom-left-radius: 0.5rem;
                                padding-left: 1rem;
                                box-shadow: inset -0.5px 0 0 $grey-light;
                            }

                            &:last-child {
                                border-right: 1px solid $grey-light;
                                border-top-right-radius: 0.5rem;
                                border-bottom-right-radius: 0.5rem;
                                box-shadow: inset 0.5px 0 0 $grey-light;
                            }

                            div {
                                display: flex;
                                align-items: center;
                                gap: 0.5rem;

                                svg {
                                    font-size: 0.875rem;
                                    color: $blue-dark;
                                }
                            }
                        }
                    }

                    border-collapse: collapse;
                }
            }

            .pagination {
                display: flex;
                height: 2.5rem;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                margin-top: auto;

                @media (max-width: 1075px) {
                    justify-content: center;
                    margin: 0 auto;
                    width: unset;
                    margin-top: 3rem;
                }

                .pageSizeSelector {
                    @media (max-width: 1065px) {
                        display: none;
                    }
                    width: min-content;
                    max-width: 5.75rem;
                    position: relative;
                    label {
                        position: absolute;
                        top: -1.25rem;
                        font-size: 0.75rem;
                        font-weight: bold;
                    }

                    :global(.react-select-container) {
                        border: 1px solid $blue-dark;
                        border-radius: 0.5rem;
                        font-size: 0.85rem;
                        width: 5.75rem;
                        height: 1.75rem;
                    }

                    :global(.react-select__control) {
                        height: fit-content;
                        box-shadow: none;
                        border: none;
                        background: none;
                        margin-top: -1.1rem;
                        padding: 0;
                    }

                    :global(.react-select__single-value) {
                        color: $blue-dark;
                        font-weight: 500;
                    }

                    :global(.react-select__menu) {
                        border-radius: 0.5rem;
                        border: 2px solid $blue-dark;
                    }
                }

                .totalNumber {
                    font-size: 0.75rem;
                    color: $grey;
                    margin-top: auto;

                    @media (max-width: 1075px) {
                        display: none;
                    }

                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
}

.advancedFilters {
    transition: 0.3s max-height;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &.hidden {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
    }

    &.visible {
        max-height: 500px;
        opacity: 1;
        overflow: visible;
    }
}

.filterButton {
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 0.5rem;
    font-size: 0.875rem;
    font-weight: bold;
    color: #1E1F23;
    border: 2px solid #1E1F23;
    width: 100%;
    max-width: 5.25rem;
    transition: all 0.3s;
}

.filterButtonActive {
    background-color: $smworks-color;
    border-radius: 0.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 0.5rem;
    font-size: 0.875rem;
    font-weight: bold;
    border: none;
    width: 100%;
    max-width: 5.25rem;
    transition: all 0.3s;
    color: $white;

    svg {
        font-size: 1.15rem;
    }
}

.noResults {
    text-align: center;
    color: $smworks-color;
    padding: 1rem;
}

.sortBy {
    width: 100%;

    label {
        font-size: 0.75rem;
        font-weight: bold;
        color: $blue-dark;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .selectWrapper {
        position: relative;
        width: 100%;

        select {
            font-size: 0.875rem;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            border: 2px solid $blue-dark;
            color: $blue-dark;
            font-weight: 500;
            transition: $default-transition;
            width: 100%;
            height: 2.5rem;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;

            &:focus {
                outline: none;
                border-color: $smworks-color;
                box-shadow: 0 0 0.25rem rgba(235, 102, 8, 0.5);
            }
        }

        .icon {
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
            color: $blue-dark;
            font-size: 0.75rem;
        }
    }
}
