@use '@/Variables' as *;

.layoutContainer {
    display: flex;
    flex-direction: row;
    gap: 1.875rem;
    justify-content: space-between;
    flex: 1;
    margin-bottom: 1rem;

    @media (max-width: 1075px) {
        height: 100%;
        display: block;
    }

    .contentContainer {
        margin-top: 1.875rem;
        flex: 1;
        margin-right: 1.875rem;
        gap: 1.875rem;
        display: flex;
        flex-direction: column;

        @media (max-width: 1075px) {
            margin-right: 0;
            margin-top: 0.5rem;
            background-color: $off-white;
            margin-bottom: 8rem;
        }

        .filters {
            margin-top: 0.75rem;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 1rem;
            margin-bottom: 0.5rem;
            justify-content: space-between;
            width: 100%;

            @media (max-width: 1075px) {
                display: none;
            }

            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background-color: $grey-light;
                margin-top: -0.25rem;
            }



            .contentLeft {
                display: flex;
                gap: 1rem;
                align-items: center;
                height: 3rem;

                button {
                    height: 2.5rem;
                    background-color: $white;
                    color: $blue-dark;
                    border-radius: 0.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.5rem;
                    cursor: pointer;
                    text-wrap: nowrap;
                    padding: 1rem;
                    max-height: 2.25rem;
                    border: 2px solid $blue-dark;
                    font-weight: 500;
                    font-size: 0.875rem;
                    transition: $default-transition;

                    &.newReportButton {
                        background-color: $smworks-color;
                        color: white;
                        font-weight: bold;
                        border-color: $smworks-color;

                        &:hover {
                            background-color: darken($smworks-color, 10%);
                            border-color: darken($smworks-color, 10%);
                        }
                    }

                    &:hover {
                        background-color: $smworks-color;
                        color: $white;
                        border: 2px solid $smworks-color;
                    }

                    &.activeRangeButton {
                        background-color: $smworks-color;
                        color: $white;
                        border: 2px solid $smworks-color;
                    }

                    &.activeToggle {
                        background-color: $smworks-color;
                        color: $white;
                        border: 2px solid $smworks-color;

                        svg {
                            font-size: 1.15rem;
                            height: 1.15rem;
                        }
                    }

                    svg {
                        font-size: 0.875rem;
                        height: 0.875rem;
                    }
                }
            }

            .contentMiddle {
                display: flex;
                align-items: center;
                margin: 0 auto;
                width: fit-content;

                .totalTime {
                    font-weight: bold;
                    color: $blue-dark;
                    display: inline-flex;
                    align-items: center;
                    gap: 1.5rem;

                    .averageIcon,
                    .sumIcon {
                        color: $smworks-color;
                        font-weight: bold;
                        margin-right: 0.15rem;
                        font-size: 1.15rem;
                    }
                }

            }


            .contentRight {
                display: flex;
                gap: 1rem;
                align-items: center;
                height: fit-content;


                .resetButton {
                    background-color: $white;
                    border-radius: 0.5rem;
                    height: 2.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 0.875rem;
                    font-weight: bold;
                    color: $blue-dark;
                    gap: 0.5rem;
                    border: 2px solid $blue-dark;
                    width: 100%;
                    max-width: 5.25rem;
                    transition: $default-transition;

                    &:hover {
                        background-color: $off-white;
                        @media (max-width: 768px) {
                            background-color: none;
                        }
                    }
                }

            }
        }

        .advancedFilters {
            max-height: 0;
            overflow: hidden;
            margin-bottom: 0;
            transition: max-height 0.3s ease, margin-bottom 0.3s ease;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1.5rem;
            width: 100%;

            &.isOpen {
                @media (min-width: 1076px) {
                    max-height: fit-content;
                    overflow: visible;
                    margin-bottom: 1rem;
                    padding-top: 1.5rem;
                    padding-bottom: 1rem;
                    border-bottom: 1px solid $grey-light;
                }
            }


            .checkbox {
                display: flex;
                align-items: center;
                gap: 0.25rem;
                font-size: 0.875rem;
                font-weight: 500;
                color: $blue-dark;

            }

            .checkboxDisabled {
                display: flex;
                align-items: center;
                gap: 0.25rem;
                font-size: 0.875rem;
                font-weight: 500;
                color: $grey-light;

                input {
                    border: 2px solid $grey-light;
                }
            }

            .exportButton {
                background-color: $white;
                color: $blue-dark;
                max-height: 2.5rem;
                margin-left: auto;
                transition: $default-transition;

                &:hover {
                    background-color: $smworks-color;
                    border: 2px solid $smworks-color;
                    color: $white;
                }
            }

            .selectFilters {
                display: flex;
                margin-left: 1rem;
                gap: 2rem;
                max-height: 12.25rem;
                @media (max-width: 1100px) {
                    margin-left: unset;
                }
            }

            .checkboxLabel {
                margin-top: 0.25rem;
                font-size: 0.875rem;
                font-weight: 500;
                color: #1e1f23;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.25rem;

                input {
                    accent-color: $smworks-color;
                }
            }

            button {
                background-color: $smworks-color;
                color: white;
                border-radius: 8px;
                padding: 0.5rem 1rem;
                font-size: 0.875rem;
                font-weight: bold;
                display: flex;
                align-items: center;
                gap: 0.5rem;
                cursor: pointer;

                svg {
                    font-size: 1rem;
                }
            }

            .deleteFiltersButton {
                background-color: $smworks-color;
                color: $white;
                border: none;
                font-weight: 500;
            }
        }

        .mobileFilters {
            display: none;

            @media (max-width: 1075px) {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                max-width: 90vw;
                margin: 0 auto;
                gap: 1rem;
                margin-bottom: 1.5rem;

                .rangeSelector {
                    .rangeSelectWrapper {
                        position: relative;
                        width: 100%;

                        select {
                            font-size: 0.875rem;
                            padding: 0.5rem 1rem;
                            border: 2px solid $blue-dark;
                            border-radius: 0.5rem;
                            width: 100%;
                            appearance: none;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            font-weight: 500;
                            transition: $default-transition;

                            &:focus {
                                outline: none;
                                border-color: $smworks-color;
                                box-shadow: 0 0 0.25rem rgba(235, 102, 8, 0.5);
                            }
                        }

                        .rangeSelectIcon {
                            position: absolute;
                            top: 50%;
                            right: 1rem;
                            transform: translateY(-50%);
                            pointer-events: none;
                            font-size: 0.75rem;
                            color: $blue-dark;
                        }
                    }
                }

                .flexContainer {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    align-items: center;

                    .totalTime {
                        display: flex;
                        justify-content: space-between;
                        font-size: 1rem;
                        font-weight: bold;
                        color: $blue-dark;
                        gap: 1.5rem;
                        align-items: center;
                        padding-left: 0.5rem;

                        div {
                            display: flex;
                            align-items: end;
                            gap: 0.25rem;

                            .averageIcon, .sumIcon {
                                color: $smworks-color;
                                font-weight: bold;
                                font-size: 1.15rem;
                            }
                        }
                    }

                    .topButtons {
                        display: flex;
                        gap: 1rem;
                        justify-content: space-between;

                        .filterButtonMobile {
                            background-color: $white;
                            color: $blue-dark;
                            border: 2px solid $blue-dark;
                            padding: 0.5rem 1rem;
                            font-weight: bold;
                            font-size: 0.875rem;
                            border-radius: 0.5rem;
                            cursor: pointer;
                            transition: all 0.2s;
                            gap: 0.5rem;
                            display: flex;
                            width: 100%;
                            max-width: 5.25rem;
                            align-items: center;

                            &.active {
                                background-color: $smworks-color;
                                color: $white;
                                border: none;
                                width: 100%;
                                max-width: 5.25rem;
                                display: flex;
                                align-items: center;

                                svg {
                                    font-size: 1.15rem;
                                }
                            }
                        }

                        .resetButton {
                            background-color: $white;
                            border: 2px solid $blue-dark;
                            border-radius: 0.5rem;
                            height: 2.5rem;
                            width: 3rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            &:hover {
                                background-color: $grey-light;
                                @media (max-width: 768px) {
                                    background-color: none;
                                }
                            }
                        }
                    }
                }

                .advancedFiltersMobile {
                    transition: 0.3s max-height;
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;

                    &.hidden {
                        max-height: 0;
                        opacity: 0;
                        overflow: hidden;
                    }

                    &.visible {
                        max-height: 500px;
                        opacity: 1;
                        overflow: visible;
                        padding-top: 1rem;
                    }

                    .checkbox {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                        font-weight: 500;
                        font-size: 0.875rem;
                        margin-left: 0.25rem;
                    }

                    .checkboxContainer {
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                    }

                    .deleteFiltersButton {
                        background-color: $smworks-color;
                        color: $white;
                        border-radius: 0.5rem;
                        border: none;
                        height: 2.5rem;
                        display: flex;
                        gap: 0.5rem;
                        justify-content: center;
                        align-items: center;
                        font-size: 0.875rem;
                        font-weight: bold;
                        width: 100%;
                        transition: $default-transition;
                        max-width: 8rem;
                    }

                    .sortContainer {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 0.5rem;

                        .pageSizeSelector {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;

                            .pageSizeSelect {
                                height: 2.5rem;
                                padding: 0 0.5rem;
                                font-size: 0.875rem;
                                border: 1px solid $blue-dark;
                                border-radius: 0.5rem;
                            }
                        }

                        .sortOrderButton {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: $blue-dark;
                            color: $white;
                            border: none;
                            height: 2.5rem;
                            width: 2.5rem;
                            border-radius: 0.5rem;
                            cursor: pointer;
                            font-size: 0.875rem;

                            &:hover {
                                background-color: darken($blue-dark, 10%);
                            }
                        }
                    }
                }

                select {
                    font-size: 0.875rem;
                    padding: 0.5rem;
                    border: 1px solid $blue-dark;
                    border-radius: 0.5rem;
                }

                .sortOrderButton {
                    width: 2.75rem;
                    height: 2.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $smworks-color;
                    color: $white;
                    border-radius: .5rem;
                    padding: .5rem 1rem;
                    font-size: 0.875rem;
                    font-weight: 700;
                    border: none;
                }

                .sortContainer {
                    display: flex;
                    align-items: end;
                    justify-content: space-between;
                    gap: 0.5rem;

                    .sortSelect {
                        width: 100%;
                    }

                    .pageSizeSelector {
                        position: relative;
                        display: flex;
                        align-items: center;

                        select {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;
                            height: 2.5rem;
                            font-size: 0.875rem;
                            width: 3.875rem;
                            padding: 0 1rem;
                            border: 2px solid $blue-dark;
                            border-radius: 0.5rem;
                            font-weight: 500;
                            appearance: none;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                        }

                        .selectIcon {
                            position: absolute;
                            pointer-events: none;
                            right: 1rem;
                            top: 50%;
                            transform: translateY(-50%);
                            font-size: 0.75rem;
                            color: $grey-light;
                        }
                    }

                }
            }
        }


        .content {
            background-color: $off-white;
            height: 100%;
            border-radius: 0.5rem;
            padding: 1.5rem;
            box-shadow: $shadow-dropdown;
            display: flex;
            flex-direction: column;
            gap: 0;
            justify-content: center;
            align-items: center;

            @media (max-width: 1075px) {
                box-shadow: none;
                border: none;
                width: 100%;
                padding: 0;
                overflow: hidden;
            }

            .responsiveContent {
                display: none;

                @media (max-width: 1075px) {
                    display: block;
                    width: 100%;
                }
            }

            .error {
                color: red;
            }

            .noResults {
                text-align: center;
                color: $smworks-color;
                padding: 1rem;
            }

            .table {
                width: 100%;
                border-collapse: separate;
                border-spacing: 0 0.5rem;
                background-color: $off-white;
                border: none;
                margin-bottom: 0.25rem;

                @media (max-width: 1075px) {
                    display: none;
                }

                thead {
                    tr {

                        &:has(th.isSticky) {
                            th {
                                box-shadow: $smworks-color 0 0 0.25rem;
                                background-color: $white;
                                z-index: 10;
                            }
                        }

                        th {
                            position: sticky;
                            top: 0;
                            left: 0;
                            padding: 0.75rem 1rem;
                            font-size: 0.875rem;
                            font-weight: 500;
                            color: $blue-dark;
                            text-align: left;
                            background-color: $white;
                            border-top: 2px solid $grey-light;
                            border-bottom: 2px solid $grey-light;
                            box-shadow: inset 1px 0 0 $grey-light, inset -1px 0 0 $grey-light;
                            transition: $default-transition;

                            &.slim {
                                width: 75px;
                                min-width: 75px;
                                max-width: 75px;
                            }

                            &.actionColumn {
                                width: 6.626rem;
                                text-align: center;

                                .headerContent {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                            }

                            &:first-child {
                                border-left: 2px solid $grey-light;
                                border-top-left-radius: 0.5rem;
                                box-shadow: inset -0.5px 0 0 $grey-light;
                            }

                            &:last-child {
                                border-right: 2px solid $grey-light;
                                border-top-right-radius: 0.5rem;
                                box-shadow: inset 0.5px 0 0 $grey-light;
                            }

                            &:hover {
                                cursor: pointer;
                                background-color: $off-white;
                            }

                            .headerContent {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                .headerTitle {
                                    display: flex;
                                    align-items: center;
                                    gap: 0.5rem;

                                    svg {
                                        font-size: 0.875rem;
                                        color: $blue-dark;
                                    }
                                }

                                svg {
                                    width: 1.2rem;
                                    text-align: center;
                                    display: inline-block;

                                    svg {
                                        font-size: 1rem;
                                    }

                                    &.iconGrey {
                                        color: $grey-light;
                                    }
                                }
                            }

                        }
                    }
                }

                tbody {
                    font-weight: 500;

                    tr {
                        background-color: $white;
                        box-shadow: $shadow-dropdown;
                        border-radius: 0.5rem;
                        overflow: hidden;
                        transition: $default-transition;

                        &.unknown {
                            td {
                                color: red;
                                border-top: 1px solid $action-red;
                                border-bottom: 1px solid $action-red;
                                border-left: 0.5px solid $action-red;

                                &:has(.actionContainer) {
                                    border-left: 0;
                                }

                                .actionContainer {
                                    button {
                                        &:first-child {
                                            border-width: 1px;
                                        }
                                    }
                                }

                                &:first-child {
                                    border-left: 1px solid $action-red;
                                }

                                svg {
                                    color: $action-red;
                                }

                            }
                        }

                        &:hover {
                            td {
                                background-color: $off-white;
                            }
                        }

                        &:not(:last-child) {
                            margin-bottom: 0.5rem;
                        }

                        td {
                            font-weight: 500;
                            font-size: 0.875rem;
                            color: $blue-dark;
                            text-align: left;
                            background-color: $white;
                            border-top: 1px solid $grey-light;
                            border-bottom: 1px solid $grey-light;
                            box-shadow: inset 0.5px 0 0 $grey-light, inset -0.5px 0 0 $grey-light;
                            padding-left: 0.75rem;
                            transition: $default-transition;


                            &.jobtitle {
                                text-align: center;
                                padding-left: 0;
                            }

                            &.slim {
                                width: 70px;
                                min-width: 70px;
                                max-width: 70px;
                                padding: 0;
                                text-align: center;
                            }

                            &.smallColumn {
                                width: 5%;
                            }

                            &:has(.actionContainer) {
                                padding: 0;
                                height: 1px;

                                .actionContainer {
                                    display: flex;
                                    align-items: stretch;
                                    justify-content: center;
                                    gap: 0;
                                    height: 100%;

                                    .actionButton {
                                        width: 3.313rem;
                                        height: 100%;
                                        min-height: 3rem;
                                        padding: 0;
                                        background-color: $white;
                                        border: 1px solid $blue-dark;
                                        border-radius: 0;
                                        color: $blue-dark;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        font-size: 0.875rem;
                                        transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;

                                        svg {
                                            font-size: 1rem !important;
                                        }

                                        &:last-child {
                                            border-top-right-radius: 0.5rem;
                                            border-bottom-right-radius: 0.5rem;
                                        }

                                        &:hover {
                                            background-color: $smworks-color;
                                            color: #fff;
                                            box-shadow: 0 2px 4px rgba($smworks-color, 0.4);

                                            svg {
                                                color: #fff;
                                            }
                                        }

                                        &.editButton {
                                            border-color: $action-yellow;
                                            color: $action-yellow;
                                            background-color: transparent;

                                            &:hover {
                                                background-color: $action-yellow;
                                                border-color: $action-yellow;
                                                color: #fff;
                                                box-shadow: 0 2px 4px rgba(255, 167, 38, 0.5);
                                            }
                                        }

                                        &.duplicateButton {
                                            border-color: $action-grey;
                                            color: $action-grey;
                                            background-color: transparent;

                                            &:hover {
                                                background-color: $action-grey;
                                                border-color: $action-grey;
                                                color: #fff;
                                                box-shadow: 0 2px 4px rgba(117, 117, 117, 0.4);
                                            }
                                        }

                                        &.deleteButton {
                                            border-color: $action-red;
                                            color: $action-red;
                                            background-color: transparent;

                                            &:hover {
                                                background-color: $action-red;
                                                border-color: #e6510f;
                                                color: #fff;
                                                box-shadow: 0 2px 4px rgba(230, 81, 0, 0.5);
                                            }
                                        }

                                        svg {
                                            color: inherit;
                                            transition: color 0.2s;
                                            font-size: 1rem;
                                        }
                                    }
                                }

                            }

                            &:first-child {
                                border-left: 1px solid $grey-light;
                                border-top-left-radius: 0.5rem;
                                border-bottom-left-radius: 0.5rem;
                                padding-left: 1rem;
                                box-shadow: inset -0.5px 0 0 $grey-light;
                            }

                            &:last-child {
                                border-right: 1px solid $grey-light;
                                border-top-right-radius: 0.5rem;
                                border-bottom-right-radius: 0.5rem;
                                box-shadow: inset 0.5px 0 0 $grey-light;
                            }
                        }
                    }

                    border-collapse: collapse;
                }
            }

            .pagination {
                display: flex;
                height: 2.5rem;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                margin-top: auto;

                @media (max-width: 1065px) {
                    justify-content: center;
                    margin: 0 auto;
                    width: unset;
                    margin-top: 3rem;
                }

                .pageSizeSelector {
                    @media (max-width: 1065px) {
                        display: none;
                    }
                    width: min-content;
                    max-width: 5.75rem;
                    position: relative;
                    label {
                        position: absolute;
                        top: -1.25rem;
                        font-size: 0.75rem;
                        font-weight: bold;
                    }

                    :global(.react-select-container) {
                        border: 1px solid $blue-dark;
                        border-radius: 0.5rem;
                        font-size: 0.85rem;
                        width: 5.75rem;
                        height: 1.75rem;
                    }

                    :global(.react-select__control) {
                        height: fit-content;
                        box-shadow: none;
                        border: none;
                        background: none;
                        margin-top: -1.1rem;
                        padding: 0;
                    }

                    :global(.react-select__single-value) {
                        color: $blue-dark;
                        font-weight: 500;
                    }

                    :global(.react-select__menu) {
                        border-radius: 0.5rem;
                        border: 2px solid $blue-dark;
                    }
                }

                .totalNumber {
                    font-size: 0.75rem;
                    color: $grey;
                    margin-top: auto;

                    @media (max-width: 1065px) {
                        display: none;
                    }

                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
}

.filterButton {
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 0.5rem;
    font-size: 0.875rem;
    font-weight: bold;
    color: #1E1F23;
    border: 2px solid #1E1F23;
    width: 100%;
    max-width: 5.25rem;
    transition: all 0.3s;
}

.filterButtonActive {
    background-color: $smworks-color;
    border-radius: 0.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 0.5rem;
    font-size: 0.875rem;
    font-weight: bold;
    border: none;
    width: 100%;
    max-width: 5.25rem;
    transition: all 0.3s;
    color: $white;

    svg {
        font-size: 1.15rem;
    }
}

.noResults {
    text-align: center;
    color: $smworks-color;
    padding: 1rem;
}

.smallColumn {
    width: 5%;
}

.activeRangeButton {
    background-color: darken($smworks-color, 10%);
    color: $white !important;
}


.divider {
    width: 100%;
    height: 1px;
    background-color: $grey-light;
}

.datepickerRow {
    display: flex;
    gap: 1rem;
    align-items: center;


    .datepickerContainer {
        display: flex;
        align-items: center;
        gap: 0;
        position: relative;

        .react-datepicker__tab-loop {
            position: absolute;
            width: 0;
            height: 0;
            overflow: hidden;
        }

        input {
            border: 2px solid $blue-dark;
            padding: 0.5rem 0.75rem;
            border-radius: 0.5rem;
            font-size: 0.875rem;
            color: $blue-dark;
            transition: $default-transition;
            width: 100%;
            font-weight: 500;
            max-width: 8rem;
            max-height: 2.15rem;

            &:focus {
                outline: none;
                border-color: $smworks-color;
                box-shadow: 0 0 0.25rem rgba(235, 102, 8, 0.5);
            }
        }

        label {
            font-weight: bold;
            font-size: 0.75rem;
            margin-bottom: 0.5rem;
            color: $blue-dark;
            position: absolute;
            top: -1.25rem;
            left: 0;
        }

        .react-datepicker-wrapper {
            flex-grow: 1;

        }

        .navButtonLeft, .navButtonRight {
            background-color: $white !important;
            border: 2px solid $blue-dark;
            color: $blue-dark !important;
            font-size: 0.875rem;
            font-weight: bold;
            padding: 0.5rem 0.5rem;
            max-height: 2.5rem;
            border-radius: 0.5rem;
            cursor: pointer;
            width: 2.25rem;
            display: flex;
            height: 2.25rem;
            align-items: center;
            justify-content: center;
            transition: $default-transition;

            &:hover {
                background-color: $off-white;
            }

            svg {
                font-size: 0.875rem;
            }

            &:focus {
                outline: none;
                box-shadow: 0 0 4px rgba(235, 102, 8, 0.5);
            }
        }

        .navButtonLeft {
            margin-right: 0.25rem;
        }

        .navButtonRight {
            margin-left: 0.25rem;
        }
    }
}

@media (max-width: 1065px) {
    .datepickerRow {
        display: flex;
        flex-direction: column;
        gap: 2.25rem;
        width: 100%;
        margin-bottom: 0.5rem;

        .navButtonLeft, .navButtonRight {
            max-height: 2.5rem;
        }

        .datepickerContainer {
            width: 100%;
            gap: 0.5rem;

            input {
                width: 100%;
                max-width: unset;
                max-height: 2.5rem;
            }
        }

        label {
            font-size: 0.75rem;
            font-weight: bold;
            color: $blue-dark;
        }
    }
}

.hoverTooltip {
    display: inline-block;
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: none;
    position: relative;
    color: $blue-dark;
}

.hoverTooltip .hoverTooltipText {
    visibility: hidden;
    width: max-content;
    background-color: $white;
    box-shadow: $shadow-dropdown;
    color: $grey;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    z-index: 1;
    font-size: 0.75rem;
    bottom: 115%;
    left: 50%;
    display: block;
    transform: translateX(-50%);
    opacity: 0;
    transition: $default-transition;
    position: absolute;
}

.hoverTooltip:hover .hoverTooltipText {
    visibility: visible;
    opacity: 1;
    transform: translateY(-5px) translateX(-50%);
}


.noReports {
    text-align: center;
    color: $smworks-color;
    padding: 1rem;
}

.sortSelect {
    @media (max-width: 1065px) {
        label {
            font-size: 0.75rem;
            font-weight: bold;
            color: $blue-dark;
        }

        .selectWrapper {
            position: relative;
            width: 100%;

            select {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                height: 2.5rem;
                font-size: 0.875rem;
                padding: 0;
                padding-left: 1rem;
                padding-right: 2.5rem;
                border: 2px solid $blue-dark !important;
                font-weight: 500;
                width: 100% !important;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
            }

            .selectIcon {
                position: absolute;
                top: 50%;
                right: 1rem;
                transform: translateY(-50%);
                pointer-events: none;
                font-size: 0.75rem;
                color: $blue-dark;
            }
        }
    }
}


.checkboxDisabled {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: $grey-light;

    input {
        border: 2px solid $grey-light;
    }
}

tr.emptySpacerRow {
    height: 0;
    background-color: transparent !important;
    border: none;
    box-shadow: none !important;
    td {
        border: none !important;
        background-color: transparent !important;
        box-shadow: none !important;
    }
}
