@use '@/Variables' as *;


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: $grey-light;


    @media (max-width: 1075px) {
        background: $white;
    }
}

.loader {
    margin-top: 0 !important;
}

.card {
    background-color: $white;
    border-radius: 1rem;
    box-shadow: $shadow-dropdown;
    text-align: center;
    max-width: 53.125rem;
    width: 100%;
    height: 100vh;
    max-height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;

    @media (max-width: 1075px) {
        box-shadow: none;
    }

    .card__content {
        max-width: 345px;
        width: 100%;

        @media (max-width: 1075px) {
            max-width: 85vw;
        }

        h2 {
            font-weight: bold;
            font-size: 1.2rem;
            margin-top: 1rem;
            color: $blue-dark;
        }

        .logo {
            h1 {
                font-weight: bold;
                font-size: 1.2rem;
                margin-top: 1rem;
                color: $blue-dark;
            }

            img {
                width: 6rem;
                height: auto;
            }
        }

        .form {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
            margin-top: 2rem;

            .inputGroup {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.25rem;
                justify-content: center;
                @media (max-width: 1075px) {
                    align-items: center;
                }

                label {
                    font-size: 0.75rem;
                    font-weight: bold;
                    color: $blue-dark;
                    @media (max-width: 1075px) {
                        width: 90vw;
                        max-width: unset;
                        margin-left: 0.25rem;
                    }
                }

                input {
                    width: 100%;
                    padding: 0.75rem;
                    border: 2px solid $blue-dark;
                    border-radius: 0.75rem;
                    font-size: 1rem;
                    color: $blue-dark;

                    &:focus {
                        border-color: $smworks-color;
                        outline: none;
                        box-shadow: 0 0 0.313rem rgba($smworks-color, 0.5);
                    }
                }
            }

            .submitButton {
                background-color: $smworks-color;
                color: $white;
                font-size: 1rem;
                padding: 0.75rem;
                border: none;
                border-radius: 0.75rem;
                cursor: pointer;
                font-weight: bold;
                transition: all 0.3s;

                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;

                &:hover {
                    background-color: darken($smworks-color, 10%);
                }
            }

            .backButton {
                background-color: $blue-dark;
                color: $white;
                font-size: 1rem;
                padding: 0.75rem;
                width: 100%;
                border: none;
                border-radius: 0.75rem;
                cursor: pointer;
                font-weight: bold;
                transition: all 0.3s;
                margin-top: 1rem;

                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;

                &:hover {
                    background-color: darken($blue-dark, 10%);
                }
            }
        }

        .errorBox {
            background-color: #f8d7da;
            color: #721c24;
            padding: 0.5rem;
            border: 1px solid #f5c6cb;
            border-radius: 0.313rem;
        }

        .successBox {
            background-color: #d4edda;
            color: #155724;
            padding: 0.5rem;
            border: 1px solid #c3e6cb;
            border-radius: 0.313rem;
        }
    }
}
